<table border='1'>
    <tr>
        <td>SITUAÇÕES</td>
        <td>
            <a href="/daminhaconta/situacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/situacao/cadastro/">Cadastro</a>
        </td>
        <td>FORMAS TRANSAÇÃO</td>
        <td>
            <a href="/daminhaconta/transacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/transacao/cadastro/">Cadastro</a>
        </td>
        <td>CLASSIFICAÇÕES</td>
        <td>
            <a href="/daminhaconta/classificacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/classificacao/cadastro/">Cadastro</a>
        </td>
        <td>CONTAS PAGAR</td>
        <td>
            <a href="/daminhaconta/pagar/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/relatorio/">Relatorio</a>
        </td>
        <td>CONTAS RECEBER</td>
        <td>
            <a href="/daminhaconta/receber/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/relatorio/">Relatorio</a>
        </td>
        <td>FLUXO</td>
        <td>
            <a href="/daminhaconta/fluxo/">Fluxo</a>
        </td>
    </tr>
</table>
<form action="{{rota}}/{{pagar.id}}{{completabarraparaupdate}}" method="POST">
    {%csrf_token%}
    <label for="descricao">Descrição</label>
    <input type="text" name="descricao" id="descricao" value="{{pagar.descricao}}">

    <label for="data_vencimento">Data Vencimento</label>
    <input type="text" name="data_vencimento" id="data_vencimento" value="{{pagar.data_vencimento}}" placeholder="dd/mm/aaaa">

    <label for="data_pagamento">Data Pagamento</label>
    <input type="text" name="data_pagamento" id="data_pagamento" value="{{pagar.data_pagamento}}" placeholder="dd/mm/aaaa">

    <label for="descricao">Valor</label>
    <input type="text" name="valor" id="valor" value="{{pagar.valor}}" placeholder="0.0">

    <label for="classificacao_id">Classificações</label>

    <select name="classificacao_id" id="classificacao_id">
        {% for c in classificacoes%}
            {% if c.id == pagar.classificacao_id %}
            <option selected value="{{c.id}}">
                {{c.classificacao}}
            </option>
            {%else%}
            <option value="{{c.id}}">
                {{c.classificacao}}
            </option>
            {%endif%}
        {% endfor %}
    </select>
    <label for="classificacao_id">Transações</label>
    <select name="transacao_id" id="transacao_id">
        {% for t in transacoes%}
        {% if t.id == pagar.transacao_id %}
            <option selected value="{{t.id}}">
                {{t.transacao}}
            </option>
            {%else%}
            <option value="{{t.id}}">
                {{t.transacao}}
            </option>
            {%endif%}
        {% endfor %}
    </select>
    <label for="classificacao_id">Situações</label>
    <select name="situacao_id" id="situacao_id">
        {% for s in situacoes%}
        {% if s.id == pagar.situacao_id%}
            <option selected value="{{s.id}}">
                {{s.situacao}}
            </option>
            {%else%}
            <option value="{{s.id}}">
                {{s.situacao}}
            </option>
            {%endif%}
        {% endfor %}
    </select>
    <button type="submit">{{acao}}</button>
</form>