<table>
    <tr>
        <td>
            <a href="/daminhaconta/receber/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/cadastro/">Cadastro</a>
        </td>
        
    </tr>
</table>

<table border=1>
    <thead>
        <tr>
            <th>Descricao</th>
            <th>Editar</th>
            <th>apagar</th>
        </tr>
    </thead>
    <tbody>

        {% for receber in recebimentos %}
        <tr>
            <td>{{receber.descricao}}</td>
            <td>
                <a href="atualizacao/{{receber.id}}">Editar</a>
            </td>
            <td>

            <a href="delete/{{receber.id}}">apagar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    <thead>
        <tr>
            <th>Descricao</th>
            <th>Editar</th>
            <th>apagar</th>
        </tr>
    </thead>
</table>
