<table border='1'>
    <tr>
        <td>SITUAÇÕES</td>
        <td>
            <a href="/daminhaconta/situacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/situacao/cadastro/">Cadastro</a>
        </td>
        <td>FORMAS TRANSAÇÃO</td>
        <td>
            <a href="/daminhaconta/transacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/transacao/cadastro/">Cadastro</a>
        </td>
        <td>CLASSIFICAÇÕES</td>
        <td>
            <a href="/daminhaconta/classificacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/classificacao/cadastro/">Cadastro</a>
        </td>
        <td>CONTAS PAGAR</td>
        <td>
            <a href="/daminhaconta/pagar/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/relatorio/">Relatorio</a>
        </td>
        <td>CONTAS RECEBER</td>
        <td>
            <a href="/daminhaconta/receber/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/relatorio/">Relatorio</a>
        </td>
        <td>FLUXO</td>
        <td>
            <a href="/daminhaconta/fluxo/">Fluxo</a>
        </td>
    </tr>
</table>
<form action="/daminhaconta/receber/relatorio/" method="POST">
    {%csrf_token%}
    
    <label for="data_inicial">Data Inicial</label>
    <input type="text" name="data_inicial" id="data_inicial" placeholder="dd/mm/aaaa">
    

    <label for="data_final">Data Inicial</label>
    <input type="text" name="data_final" id="data_final" placeholder="dd/mm/aaaa">
    
    <button type="submit">Buscar</button>
</form>
{%if data_inicial and data_final%}
    Relariorio do dia {{data_inicial}} ao dia {{data_final}}
{%else%}
    Relatorio completo
{%endif%}
<table border=1>
    <thead>
        <tr>
            <th>data recebimento</th>
            <th>descricao</th>
            <th>classificacao</th>
            <th>transacao</th>
            <th>situacao</th>
            <th>valor</th>
        </tr>
    </thead>
    <tbody>

        {% for receber in recebimentos %}
        <tr>
            <td>{{receber.data_recebimento|date:"d/m/Y"}}</td>
            <td>{{receber.descricao}}</td>
            <td>{{receber.classificacao.classificacao}}</td>
            <td>{{receber.transacao.transacao}}</td>
            <td>{{receber.situacao.situacao}}</td>
            <td>{{receber.valor}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
