
<table border='1'>
    <tr>
        <td>SITUAÇÕES</td>
        <td>
            <a href="/daminhaconta/situacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/situacao/cadastro/">Cadastro</a>
        </td>
        <td>FORMAS TRANSAÇÃO</td>
        <td>
            <a href="/daminhaconta/transacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/transacao/cadastro/">Cadastro</a>
        </td>
        <td>CLASSIFICAÇÕES</td>
        <td>
            <a href="/daminhaconta/classificacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/classificacao/cadastro/">Cadastro</a>
        </td>
        <td>CONTAS PAGAR</td>
        <td>
            <a href="/daminhaconta/pagar/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/relatorio/">Relatorio</a>
        </td>
        <td>CONTAS RECEBER</td>
        <td>
            <a href="/daminhaconta/receber/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/relatorio/">Relatorio</a>
        </td>
        <td>FLUXO</td>
        <td>
            <a href="/daminhaconta/fluxo/">Fluxo</a>
        </td>
    </tr>
</table>

<table border='1'>
    <thead>
        <tr>
            <th>Data</th>
            <th>Classificacao</th>
            <th>situação</th>
            <th>Transação</th>
            <th>valor</th>
        </tr>
    </thead>
    <tbody>

    {%for c in contas%}
        {%if c.tag == "P" %}
        <tr style="background-color: rgb(255, 199, 199);">
            <td>{{c.data_pagamento}}</td>
            <td>{{c.classificacao}}</td>
            <td>{{c.situacao}}</td>
            <td>{{c.transacao}}</td>
            <td>{{c.valor}}</td>
        </tr>
        {%else%}
        <tr>
            <td>{{c.data_pagamento}}</td>
            <td>{{c.classificacao}}</td>
            <td>{{c.situacao}}</td>
            <td>{{c.transacao}}</td>
            <td>{{c.valor}}</td>
        </tr>
        {%endif%}

    {%endfor%}
    </tbody>
</table>
<h1>SALDO: {{calculos.saldo_total}}</h1>
