<table border='1'>
    <tr>
        <td>SITUAÇÕES</td>
        <td>
            <a href="/daminhaconta/situacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/situacao/cadastro/">Cadastro</a>
        </td>
        <td>FORMAS TRANSAÇÃO</td>
        <td>
            <a href="/daminhaconta/transacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/transacao/cadastro/">Cadastro</a>
        </td>
        <td>CLASSIFICAÇÕES</td>
        <td>
            <a href="/daminhaconta/classificacao/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/classificacao/cadastro/">Cadastro</a>
        </td>
        <td>CONTAS PAGAR</td>
        <td>
            <a href="/daminhaconta/pagar/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/pagar/relatorio/">Relatorio</a>
        </td>
        <td>CONTAS RECEBER</td>
        <td>
            <a href="/daminhaconta/receber/">Inicio</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/cadastro/">Cadastro</a>
        </td>
        <td>
            <a href="/daminhaconta/receber/relatorio/">Relatorio</a>
        </td>
        <td>FLUXO</td>
        <td>
            <a href="/daminhaconta/fluxo/">Fluxo</a>
        </td>
    </tr>
</table>

<table border=1>
    <thead>
        <tr>
            <th>Situação</th>
            <th>Editar</th>
            <th>apagar</th>
        </tr>
    </thead>
    <tbody>

        {% for situacao in situacoes %}
        <tr>
            <td>{{situacao.situacao}}</td>
            <td>
                <a href="atualizacao/{{situacao.id}}">Editar</a>
            </td>
            <td>

            <a href="delete/{{situacao.id}}">apagar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    <thead>
        <tr>
            <th>Situação</th>
            <th>Editar</th>
            <th>apagar</th>
        </tr>
    </thead>
</table>
